<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="oServer" value="192.168.0.252"/>
    <add key="oCompanyDB" value="SBODEV_TESTDB"/>
    <add key="oDbUserName" value="sa"/>
    <add key="oDbPassword" value="Sb1@MYFC"/>

  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
